@import '../vars';

.Home {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  @media (min-width: $large) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &__cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px 50px;
    font-size: 2rem;

    &--titles {
      h3 {
        font-size: 0.5em;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;
      }
  
      h1 {
        font-weight: 800;
        font-size: 0.95em;
      }
    }

    &--img-container {
      margin: 70px 0;
      width: 80%;
      max-width: 300px;
      
      img { width: 100%; }
    }

    &--catalog-info {
      width: 100%;
      ul {
        display: flex;
        justify-content: space-evenly;

        li {
          text-align: center;
          font-size: 1.55rem;
          font-weight: 400;

          & > .info-name { 
            font-size: 0.7em;
            opacity: 0.65; 
          }
        }
      }
    }
  }

  &__cards {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(34, 97%, 57%, 0)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='1' stroke='hsla(34, 91%, 44%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-color: $light-orange;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba($color: $black, $alpha: 0.6);
    box-shadow: inset 0px 1px 5px 2px rgba($color: $black, $alpha: 0.2);
    padding-bottom: 40px;

    @media (min-width: $large) {
      padding-left: 2px;
      border: none;
      border-left: 2px solid rgba($color: $black, $alpha: 0.6);
    }


    h2 {
      background-color: $white;
      padding: 6px 30px;
      width: fit-content;
      border-radius: 30px;
      border: 2px solid rgba($color: $black, $alpha: 0.6);
      box-shadow: 0px 3px 5px 0px rgba($color: $black, $alpha: 0.2);
      margin-bottom: 30px;
      font-size: 1.2rem;
      color: $black;
      font-weight: 500;
      letter-spacing: 3px;
      transform: translateY(-50%);
    }

    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 230px);
      place-content: center;
      padding: 0 60px;
      gap: 40px;
      @media (min-width: 800px) {
        max-width: 800px;
      }
    }
  }
}